*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(./pexels-monstera-5849580.jpg) no-repeat center;
    background-size: cover;
}
.container{
    width: 90vw;
    height: 175px;
    background-color: rgb(112, 105, 105);
    border: 2px solid;
    border-radius: 25px;

    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    align-items: center;
}
.header{
    /* border: 2px solid green; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgreen;
}

#counter{
    font-size: 6rem;
    font-family: 'Courier New', Courier, monospace;
}

.btns{
    /* border: 2px solid red; */
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20px;
}

.btn{
    font-size: 1.2em;
    padding: 5px 20px;
    border-radius: 20px;
    margin-left: 10px;
    background-color: rgb(88, 87, 87);
    color: white;
    border: 2px solid white;
    transition: all 0.1s linear;
}

.btn:hover{
    background-color: black;
}
